<div class="row mb-3">
    <div class="col-2 d-none d-md-flex parameter">
        <kbd>extra=</kbd><span class="data_type">[integer]</span>
    </div>
    <div class="d-flex d-md-none col-2 parameter_mob mb-2">
        <kbd>extra=</kbd><span class="data_type">[integer]</span>
    </div>
    <div class="col-md-10">
        Use 0 or 1 to return extra information relating to each <span class="object_type">location</span> object
        <br> <span class="badge badge_optional">OPTIONAL</span> (default:0)
    </div>
</div>
<hr>
<div class="row mb-3">
    <div class="col-2 d-none d-md-flex parameter">
        <kbd>active=</kbd><span class="data_type">[integer]</span>
    </div>
    <div class="d-flex d-md-none col-2 parameter_mob mb-2">
        <kbd>active=</kbd><span class="data_type">[integer]</span>
    </div>
    <div class="col-md-10">
        Used to return only active postcodes (1), inactive postcodes (0) or omit completely for all results (no filter)
        <br> <span class="badge badge_optional">OPTIONAL</span> (default: NOT USED)
    </div>
</div>
<hr>