<div class="row p-2">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h1 class="text-break"><span class="postcoderoonie">postcoderoonie.co.uk/</span> Extra's
                </h1>

                <h5> These extras can be used in conjunction with any call to the <span class="postcoderoonie">postcoderoonie.co.uk/</span> API.
                </h5>

                <hr>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                  <h2><kbd class="smaller_get">GET</kbd> Parameters</h2>
                <hr>
            </div>
        </div>
        {% include "params/extra.html" %}

        <div class="row">
            <div class="col-12">
                <h2>Example Usage</h2>

                <p>
                    Search postcode with extra information<br>
                    <code>https://postcoderoonie.co.uk/api/postcode?postcode=SG180Ns&extra=1</code><br>
                    Search postcodes, showing only inactive results<br>
                    <code>https://postcoderoonie.co.uk/api/postcodes?postcodes=EN1&active=0</code><br>
                </p>
                <hr>


                <h2>Example Extra Response</h2><br>

                <div class="param_parent  p-2 py-1 query_string">
                    <kbd>GET</kbd> <code class="text-break">https://postcoderoonie.co.uk/api/postcode?postcode=SG180Ns&extra=1</code><br>
                </div>
                <p data-example="postcode" data-param="postcode¬extra" data-val="SG180NS¬1" id="postcode">

                </p>
                <hr>


                <h2>Example Inactive Only Response</h2><br>
                <div class="param_parent  p-2 py-1 query_string">
                    <kbd>GET</kbd> <code
                        class="text-break">https://postcoderoonie.co.uk/api/postcodes?postcode=EN1&active=0</code><br>
                </div>
                <p data-example="postcodes" data-param="postcode¬active" data-val="EN1¬0" id="postcodes">

                </p>
                <hr>
            </div>
        </div>
    </div>
</div>

