<div class="row p-2">
    <div class="col-12">
        <h1>Getting started</h1>
        <h5 class="text-break"> <span class="postcoderoonie">Postcoderoonie</span> is a Postcode API for searching and validating UK address data, its free and easy to use and accessible for all.</h5>
        <hr>
        <h2>Authentication</h2>
        <p class="sub_content">
            Requests to the <span class="postcoderoonie">Postcoderoonie</span> API do not require authentication, however, requests will be limited by ip to 3 request a second / 1000 per hour.
        </p>
        <hr>
        <h2>HTTP method</h2>
        <p class="sub_content">
            Every call to the <span class="postcoderoonie">Postcoderoonie</span> API should be a <kbd>GET</kbd> request.
        </p>
        <hr>
        <h2>Data source</h2>
        <p class="sub_content">
            This amazing wealth of information has been acquired from <a href="https://www.doogal.co.uk/">https://www.doogal.co.uk/</a>,
            if you want to download the data for your own use, or find some of the other amazing postcode related information,
            head over to Chris' site.
            <br>
            <br>
            I'm sure many of us owe Chris a debt of gratitude. A <i class="fas fa-star"></i> for effort Chris.
        </p>
        <hr>
        <h2>Data coverage</h2>
        <p class="sub_content">
            Due to source limitations, some data may be incorrect or missing. This resource cannot be relied upon and must be
            treated as inaccurate (although we believe it to be good). This service is provided "as is" and we cannot accept any liability for any misinformation provided by the API.
        </p>
        <hr>
        <h2>Status</h2>
        <p data-example="status" data-param="" data-val="" id="status">

        </p>
        <hr>
        <h2>Response times</h2>
        <p class="sub_content">
            Due to the large amount of records in the database & the cheap server this is running on, some calls, especially larger lists of results may take some
            time to return.
        </p>
        <hr>
        <h2>To Do</h2>
        <p class="sub_content">
            <i class="far fa-square"></i> Add endpoint to return array of results in n miles from current postcode
            <br>
            <i class="far fa-square"></i> Add endpoint to return array of results in n miles from a lat-long coord.
        </p>
        <hr>
        <h2>Contact</h2>
        <p class="sub_content">
           If you want to contact me on <a href="mailto:lewis.morris@gmail.com">lewis.morris@gmail.com</a> feel free.
           <br>
           <br>
           All the code for this API can be found on the git hub repo for this project, if you have any suggestions or find a bug you can add it there.
           <a href="https://github.com/lewis-morris/postcoderoonie">postcoderoonie github</a>
        </p>
    </div>
</div>

