<ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button data-tab="getting_started" class="nav-link active" id="home-tab"
                data-bs-toggle="tab" data-bs-target="#getting_started" type="button" role="tab"
                aria-controls="home" aria-selected="true">Getting Started
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button data-tab="postcode" class="nav-link" id="home-tab" data-bs-toggle="tab"
                data-bs-target="#postcode" type="button" role="tab" aria-controls="home">
            /postcode
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button data-tab="postcodes" class="nav-link" id="profile-tab" data-bs-toggle="tab"
                data-bs-target="#postcodes" type="button" role="tab" aria-controls="profile"
                aria-selected="false">/postcodes
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button data-tab="lat-long" class="nav-link disabled" id="contact-tab"
                data-bs-toggle="tab" data-bs-target="#lat-long" type="button" role="tab"
                aria-controls="contact" aria-selected="false">/lat-long
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button data-tab="salary" class="nav-link" id="contact-tab"
                data-bs-toggle="tab" data-bs-target="#salary" type="button" role="tab"
                aria-controls="contact" aria-selected="false">/salary
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button data-tab="population" class="nav-link disabled" id="contact-tab"
                data-bs-toggle="tab" data-bs-target="#population" type="button" role="tab"
                aria-controls="contact" aria-selected="false">/population
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button data-tab="errors" class="nav-link disabled" id="errors-tab" data-bs-toggle="tab"
                data-bs-target="#errors" type="button" role="tab" aria-controls="contact"
                aria-selected="false">errors
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button data-tab="extras" class="nav-link disabled" id="extras-tab" data-bs-toggle="tab"
                data-bs-target="#extras" type="button" role="tab" aria-controls="contact"
                aria-selected="false">extras
        </button>
    </li>
</ul>