<div class="row p-2">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h1 class="text-break"><kbd>GET</kbd> <span class="postcoderoonie">postcoderoonie.co.uk/</span>postcodes</h1>

                <h5>
                    This endpoint is used to lookup partial matches of postcodes and will return a list of <span
                        class="object_type">location</span>
                    objects. Due to the possible size of results, the request will be paginated.
                </h5>
                <hr>

            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                  <h2><kbd class="smaller_get">GET</kbd> Parameters</h2>
                <hr>
            </div>
            <div class="col-2 d-none d-md-flex parameter">
                <kbd>postcode=</kbd> <span class="data_type">[string]</span>
            </div>
            <div class="d-flex d-md-none col-2 parameter_mob mb-2">
                <kbd>postcode=</kbd> <span class="data_type">[string]</span>
            </div>
            <div class="col-md-10">
                Postcode partial lookup value
                <br> <span class="badge badge_required">REQUIRED</span> (min-length=3)
            </div>
        </div>
        <hr>
        {% include "params/pagination.html" %}
        {% include "params/extra.html" %}

        <div class="row">
            <div class="col-12">
                <h2>Example Usage</h2>
                <p>
                    partial postcode lookup <br>
                    <code>https://postcoderoonie.co.uk/api/postcodes?postcode=PE14</code><br>
                    search postcode, with 5 results and page 10<br>
                    <code>https://postcoderoonie.co.uk/api/postcode?postcode=PE14&results=5&page=10</code><br>
                </p>
                <hr>

                <h2>Example Response</h2>
                <br>
                <div class="param_parent  p-2 py-1 query_string">
                    <kbd>GET</kbd> <code
                        class="text-break">https://postcoderoonie.co.uk/api/postcodes?postcode=PE14</code><br>
                </div>
                <p data-example="postcodes" data-param="postcode" data-val="PE14" id="postcodes">

                </p>
                <hr>

                <h2>Example Empty Response</h2>
                <br>
                <div class="param_parent p-2 py-1 query_string">
                    <kbd>GET</kbd> <code class="text-break">https://postcoderoonie.co.uk/api/postcodes?postcode=err</code><br>
                </div>
                <p data-example="postcodes" data-param="postcode" data-val="err" id="postcode_empty">

                </p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Try Yourself</h2>
            </div>
            <div class="col-md-8">
                <div class="mb-3 d-inline-flex">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="postcode_lookup_inp" class="form-label">Postcode Lookup</label>
                            <input required minlength="3" data-base="postcodes" data-typeit="postcodes" data-param="postcode"
                                   type="text" class="form-control" id="postcode_lookup_inp" aria-describedby="postcode_search">
                        </div>
                        <div class="col-md-4">
                            <label for="results_return" class="form-label">Results</label>
                            <input min="0" max="25" data-base="postcodes" data-typeit="postcodes" data-param="limit"
                                   type="number"
                                   class="form-control" id="results_return" aria-describedby="postcode_search">
                        </div>
                        <div class="col-md-4">
                            <label for="page_no" class="form-label">Page</label>
                            <input data-base="postcodes" data-typeit="postcodes" data-param="page" type="number"
                                   class="form-control"
                                   id="page_no" aria-describedby="postcode_search">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 center_search">

                <div class="form-check center_label">
                    <input data-typeit="postcodes" data-param="extra" class="form-check-input" type="checkbox"
                           id="extra_info"
                           value="">
                    <label class="form-check-label" for="extra_info">
                        Extra information
                    </label>
                </div>
                <div>
                    <button disabled data-searchit="postcodes" class="btn btn-secondary" type="button">Search <i
                            class="fas fa-search"></i></button>
                </div>

            </div>


            <div class="col-12 ">
                <div class="param_parent  p-2 py-1 query_string">
                    <kbd>GET</kbd> <code class="text-break"
                                         data-codeit="postcodes">https://postcoderoonie.co.uk/api/postcodes</code><br>
                </div>
                <pre data-tryit="postcodes"></pre>
            </div>
        </div>
    </div>
</div>

